*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;
}

.productContents{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 5rem;
    background-color: whitesmoke;
}
.productHeading{
    max-width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
}

.productImg{
    width:  100%;
    height: 10rem;
    object-fit: contain;
}

.productItem{
    background-color: lightgrey;
    padding: 0 1rem 1rem;
    border-radius: 5px;
}
.productBtn{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.productBtn01{
    background-color:  rgb(182, 156, 11);
    color: #fff;
    border: none;
    padding: .5rem 1rem;
}
.productBtn02{
    /* background-color: gold; */
    color:  rgb(182, 156, 11);
    border: .1rem solid  rgb(182, 156, 11);
    padding: .5rem 1rem;
}
.productText{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}


/* media querry  */

@media (max-width: 768px){
    .productContents{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 428px){
    .productContents{
        grid-template-columns: repeat(1, 1fr);
    }
}