*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.subHero{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
.homeImg{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .2;
}
.subHeroTexts{
    width: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
    align-items: center;
}
.subBtn{
    background-color: rgb(182, 156, 11);
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
}

